In [1]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from nltk import tokenize
import collections
import copy

In [2]:
df = pd.read_csv("merge_Rel_final.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23597 entries, 0 to 23596
Data columns (total 8 columns):
time                       16400 non-null object
username                   23595 non-null object
tweet                      23596 non-null object
company                    23595 non-null object
sentiment_of_tweet         0 non-null float64
confidence_of_sentiment    0 non-null float64
Date                       23596 non-null object
Time                       23596 non-null object
dtypes: float64(2), object(6)
memory usage: 1.4+ MB

In [8]:
df.shape

(23597, 8)

In [9]:
df.head()

,time,username,tweet,company,sentiment_of_tweet,confidence_of_sentiment,Date,Time
0,1490031405,RshDvvrma,"Reliance Jio, Paytm have apologised for using ...",Reliance,NaN,NaN,3/11/2017,6:01
1,1490031405,NewsBossIndia,"Reliance Jio, Paytm apologise for using Modi's...",Reliance,NaN,NaN,3/11/2017,6:03
2,1490031405,EtemaadDailyNew,#Reliance #Jio and #Paytm #tenders #apology fo...,Reliance,NaN,NaN,3/11/2017,6:04
3,1490031404,shyamjiagrawal,"RelianceJio,Paytm apologise using PM's photo ...",Reliance,NaN,NaN,3/11/2017,6:05
4,1490031404,Rampraw4121,"Reliance Jio, Paytm have apologised for using ...",Reliance,NaN,NaN,3/11/2017,6:05

In [10]:
def sentiment_cal(tweet):
    sia = SentimentIntensityAnalyzer()
    score = sia.polarity_scores(tweet)
    score = float(score['compound'])
    return score

In [11]:
result = pd.DataFrame()

In [12]:
for i,r in df.iterrows():
    score = sentiment_cal(str(r.tweet))
    temp = pd.DataFrame({'time':[r.Time],\
                         'username':[r.username],\
                         'tweet':[r.tweet],\
                         'company':[r.company],\
                         'sentiment':[score],\
                         'date':[r.Date]})
    result = pd.concat([result,temp])

In [13]:
result.to_csv('labeled.csv',encoding='utf-8',sep=',')

In [2]:
df = pd.read_csv('labeled.csv')

In [3]:
date_list = df.date.tolist()

In [4]:
dates = set(date_list)

In [5]:
result = pd.DataFrame()
cnt = collections.Counter(date_list)
print(cnt)

Counter({'3/31/2017': 4315, '3/25/2017': 1938, '4/3/2017': 1897, '3/24/2017': 1844, '4/4/2017': 1361, '3/29/2017': 1232, '3/27/2017': 1056, '3/15/2017': 966, '3/14/2017': 859, '3/30/2017': 859, '3/16/2017': 830, '3/23/2017': 819, '4/2/2017': 638, '3/22/2017': 608, '3/18/2017': 584, '4/1/2017': 549, '3/26/2017': 534, '3/21/2017': 470, '3/17/2017': 440, '3/28/2017': 398, '3/11/2017': 368, '3/13/2017': 317, '3/20/2017': 301, '3/19/2017': 237, '3/12/2017': 176, nan: 17})

In [6]:
cnt.items()

dict_items([(nan, 17), ('4/2/2017', 638), ('3/22/2017', 608), ('3/15/2017', 966), ('3/29/2017', 1232), ('3/20/2017', 301), ('4/3/2017', 1897), ('3/12/2017', 176), ('3/16/2017', 830), ('3/19/2017', 237), ('3/11/2017', 368), ('3/23/2017', 819), ('3/18/2017', 584), ('3/26/2017', 534), ('3/31/2017', 4315), ('3/28/2017', 398), ('3/14/2017', 859), ('3/30/2017', 859), ('3/21/2017', 470), ('3/25/2017', 1938), ('3/24/2017', 1844), ('4/4/2017', 1361), ('3/27/2017', 1056), ('3/17/2017', 440), ('3/13/2017', 317), ('4/1/2017', 549)])

In [81]:
x = ['a', 'b', 'c', 'c', 'c', 'd', 'd']
counts = collections.Counter(x)
counts.most_common(len(counts))

[('c', 3), ('d', 2), ('a', 1), ('b', 1)]

In [8]:
collections.OrderedDict(cnt.most_common())

OrderedDict([('3/31/2017', 4315),
             ('3/25/2017', 1938),
             ('4/3/2017', 1897),
             ('3/24/2017', 1844),
             ('4/4/2017', 1361),
             ('3/29/2017', 1232),
             ('3/27/2017', 1056),
             ('3/15/2017', 966),
             ('3/14/2017', 859),
             ('3/30/2017', 859),
             ('3/16/2017', 830),
             ('3/23/2017', 819),
             ('4/2/2017', 638),
             ('3/22/2017', 608),
             ('3/18/2017', 584),
             ('4/1/2017', 549),
             ('3/26/2017', 534),
             ('3/21/2017', 470),
             ('3/17/2017', 440),
             ('3/28/2017', 398),
             ('3/11/2017', 368),
             ('3/13/2017', 317),
             ('3/20/2017', 301),
             ('3/19/2017', 237),
             ('3/12/2017', 176),
             (nan, 17)])

In [9]:
od = collections.OrderedDict(cnt.most_common())
od_close = collections.OrderedDict(cnt.most_common())

In [10]:
open_score = dict()
close_score = dict()
for k,v in od.items():
    print(k,v)
    open_score[k]=0
    close_score[k]=0
    od_close[k] = 0

3/31/2017 4315
3/25/2017 1938
4/3/2017 1897
3/24/2017 1844
4/4/2017 1361
3/29/2017 1232
3/27/2017 1056
3/15/2017 966
3/14/2017 859
3/30/2017 859
3/16/2017 830
3/23/2017 819
4/2/2017 638
3/22/2017 608
3/18/2017 584
4/1/2017 549
3/26/2017 534
3/21/2017 470
3/17/2017 440
3/28/2017 398
3/11/2017 368
3/13/2017 317
3/20/2017 301
3/19/2017 237
3/12/2017 176
nan 17

In [12]:
print(open_score, close_score, od_close)

{nan: 0, '3/22/2017': 0, '3/15/2017': 0, '3/29/2017': 0, '3/21/2017': 0, '4/3/2017': 0, '3/12/2017': 0, '3/20/2017': 0, '4/2/2017': 0, '3/19/2017': 0, '3/11/2017': 0, '3/23/2017': 0, '3/18/2017': 0, '3/26/2017': 0, '3/31/2017': 0, '3/28/2017': 0, '3/14/2017': 0, '3/30/2017': 0, '3/16/2017': 0, '3/25/2017': 0, '3/24/2017': 0, '4/4/2017': 0, '3/27/2017': 0, '3/17/2017': 0, '3/13/2017': 0, '4/1/2017': 0} {nan: 0, '3/22/2017': 0, '3/15/2017': 0, '3/29/2017': 0, '3/21/2017': 0, '4/3/2017': 0, '3/12/2017': 0, '3/20/2017': 0, '4/2/2017': 0, '3/19/2017': 0, '3/11/2017': 0, '3/23/2017': 0, '3/18/2017': 0, '3/26/2017': 0, '3/31/2017': 0, '3/28/2017': 0, '3/14/2017': 0, '3/30/2017': 0, '3/16/2017': 0, '3/25/2017': 0, '3/24/2017': 0, '4/4/2017': 0, '3/27/2017': 0, '3/17/2017': 0, '3/13/2017': 0, '4/1/2017': 0} OrderedDict([('3/31/2017', 0), ('3/25/2017', 0), ('4/3/2017', 0), ('3/24/2017', 0), ('4/4/2017', 0), ('3/29/2017', 0), ('3/27/2017', 0), ('3/15/2017', 0), ('3/14/2017', 0), ('3/30/2017', 0), ('3/16/2017', 0), ('3/23/2017', 0), ('4/2/2017', 0), ('3/22/2017', 0), ('3/18/2017', 0), ('4/1/2017', 0), ('3/26/2017', 0), ('3/21/2017', 0), ('3/17/2017', 0), ('3/28/2017', 0), ('3/11/2017', 0), ('3/13/2017', 0), ('3/20/2017', 0), ('3/19/2017', 0), ('3/12/2017', 0), (nan, 0)])

In [13]:
next_date = []
date = df.Da

In [15]:
import datetime

In [17]:
for i,r in df.iterrows():
    
    
    if str(r.date) != 'nan':
        date1 = datetime.datetime.strptime(str(r.date),"%m/%d/%Y") #.strftime("%Y-%m-%d")
    delta = datetime.timedelta(days = 1)
    prev_date = date1-delta
    
    if str(r.time) != 'nan':
        time=datetime.datetime.strptime(str(r.time),'%H:%M')
    time_open=datetime.datetime.strptime('09:00','%H:%M')
    time_close=datetime.datetime.strptime('16:00','%H:%M')
    
    #before open time
    #opening price of current day
    if time<=time_open:
        #continue
        if len(next_date)>0:
            open_score[r.date] += sum(next_date)
            #open_score[date] += float(r.sentiment)
            od[r.date] += len(next_date)
            od[prev_date.strftime("%#m/%#d/%Y")] -= len(next_date) 
            next_date = []
        
        open_score[r.date] += float(r.sentiment)
            
    #after close time
    #opening price of next day
    elif time>time_close:
        next_date.append(float(r.sentiment))
        
    #closing price of current day (9am - 4pm slot)
    else:
        od[r.date] -= 1
        od_close[r.date] += 1
        close_score[r.date] += float(r.sentiment)
        continue

In [19]:
df

,Unnamed: 0,company,date,sentiment,time,tweet,username
0,0,Reliance,3/11/2017,0.1027,6:01,"Reliance Jio, Paytm have apologised for using ...",RshDvvrma
1,0,Reliance,3/11/2017,0.3818,6:03,"Reliance Jio, Paytm apologise for using Modi's...",NewsBossIndia
2,0,Reliance,3/11/2017,0.0000,6:04,#Reliance #Jio and #Paytm #tenders #apology fo...,EtemaadDailyNew
3,0,Reliance,3/11/2017,0.3818,6:05,"RelianceJio,Paytm apologise using PM's photo ...",shyamjiagrawal
4,0,Reliance,3/11/2017,0.1027,6:05,"Reliance Jio, Paytm have apologised for using ...",Rampraw4121
5,0,Reliance,3/11/2017,0.3818,6:06,"Reliance Jio, Paytm apologise for using PM's p...",AjNewspaper
6,0,Reliance,3/11/2017,0.1027,6:06,"Reliance Jio and Paytm have apologised for ""in...",thus_spake
7,0,Reliance,3/11/2017,0.1027,6:06,"Reliance Jio, Paytm have apologised for using ...",alan_abraham8
8,0,Reliance,3/11/2017,0.1027,6:06,"Reliance Jio, Paytm have apologised for using ...",ravindarthakur0
9,0,Reliance,3/11/2017,0.1027,6:08,"RT @Rampraw4121: Reliance Jio, Paytm have apol...",Rampraw4121
10,0,Reliance,3/11/2017,0.3818,6:09,"RT @AjNewspaper: Reliance Jio, Paytm apologise...",BroderkMarshall
11,0,Reliance,3/11/2017,0.0000,6:10,Now you can recharge your Reliance Jio connect...,zithastechno
12,0,Reliance,3/11/2017,0.3818,6:11,"Paytm, Reliance Jio apologise for using PM's p...",IndiLeak
13,0,Reliance,3/11/2017,0.0000,6:12,"Reliance Jio, Paytm aplogis for using PM Modi'...",SubratN
14,0,Reliance,3/11/2017,0.3818,6:15,"Jio, Paytm apologise for using PM Modi's photo...",ETBrandEquity
15,0,Reliance,3/11/2017,0.5859,6:17,RCom announces 'Joy of Holi' plan https://t.co...,gizbotcom
16,0,Reliance,3/11/2017,0.1027,6:18,"Reliance Jio, Paytm have apologised for using ...",Srikantheadula
17,0,Reliance,3/11/2017,0.0000,6:18,RCom announces ‘Joy of Holi’ plan https://t.co...,OccuWorld
18,0,Reliance,3/11/2017,0.0000,6:20,RCom announces ‘Joy of Holi’ plan https://t.co...,TrutherForever
19,0,Reliance,3/11/2017,0.1027,6:23,"Reliance Jio, Paytm have apologised for using ...",kksibios
20,0,Reliance,3/11/2017,0.0000,6:23,Reliance Jio users can now recharge using Mobi...,Srikantheadula
21,0,Reliance,3/11/2017,0.0000,6:23,RT @OccuWorld: RCom announces ‘Joy of Holi’ pl...,RIOTTO19801
22,0,Reliance,3/11/2017,0.3818,6:27,"RT @htTweets: Reliance Jio, Paytm apologise fo...",manchandamegha
23,0,Reliance,3/11/2017,0.4404,6:29,"@Dear Customer, Wireless HomePhone (2G &amp; 4...",gvenkatesan297
24,0,Reliance,3/11/2017,0.1027,6:30,"Reliance Jio, Paytm have apologised for using ...",DineshK57975671
25,0,Reliance,3/11/2017,0.0000,6:30,"Meet #Sauvik #Banerjjee, a #Ranji #trophy #pla...",ipassionconnect
26,0,Reliance,3/11/2017,0.1027,6:32,"Reliance Jio, Paytm have apologised for using ...",subhrajyoti_das
27,0,Reliance,3/11/2017,0.0000,6:32,RT @NewIndianXpress: #NewsAlert | Reliance Jio...,TPrasad_7
28,0,Reliance,3/11/2017,0.0000,6:32,Reliance Jio JioLink Indoor WiFi Plans and Pre...,broadbandforum
29,0,Reliance,3/11/2017,0.0000,6:33,RT @NewIndianXpress: #NewsAlert | Reliance Jio...,bharatam51
...,...,...,...,...,...,...,...
23583,0,Reliance,4/4/2017,0.0000,21:10,RT @techkaro: RelianceJio + Google = Rs2000 Sm...,AyGoWNRvz9Vw0GS
23584,0,Reliance,4/4/2017,0.4215,21:13,RT @thus_spake: NEW DELHI: The mobile virtual ...,Atiksh_Singh
23585,0,Reliance,4/4/2017,0.2732,21:20,Reliance Jio Summer Surprise Offer full detail...,NewsBossIndia
23586,0,Reliance,4/4/2017,0.0000,21:28,Reliance Jio Various Post Openings\r\nClick be...,CatchNaukri
23587,0,Reliance,4/4/2017,0.2263,21:30,Mukesh Ambani's Reliance Jio foray puts Rs 260...,Fun20sh
23588,0,Reliance,4/4/2017,0.2263,21:33,Mukesh Ambani's Reliance Jio foray puts Rs 260...,bhavik_bhavsar
23589,0,Reliance,4/4/2017,0.2263,21:37,Mukesh Ambaniâ€™s Reliance Jio foray puts Rs 2...,TopFinNews
23590,0,Reliance,4/4/2017,0.2263,21:48,RT @TechnTricksYT: Mukesh Ambani's Reliance Ji...,itsjustinwong
23591,0,Reliance,4/4/2017,0.2263,21:48,Mukesh Ambani's Reliance Jio foray puts Rs 260...,TechnTricksYT
23592,0,Reliance,4/4/2017,0.2263,21:51,Mukesh Ambani's Reliance Jio foray puts Rs 260...,TeChWorlD3207
23593,0,Reliance,4/4/2017,0.0000,21:59,Reliance Jio Beats Rivals With Almost Double 4...,NewsBossIndia
23594,0,Reliance,4/4/2017,0.4215,22:15,Reliance Jio offers: Mukesh Ambaniâ€™s telco t...,ZyiteGadgets
23595,0,Reliance,4/4/2017,0.0000,22:15,RT @linuxfoundation: Reliance Jio joins openso...,ttorii0609
23596,0,Reliance,4/4/2017,0.0000,22:39,Archive: Reliance Jioâ€™s LYF Wind 6 spotted o...,mashableng
23597,0,Reliance,4/4/2017,0.0000,22:47,#RelianceJio Provides The Fastest 4G Downloads...,Zapper_ybt
23598,0,Reliance,4/4/2017,0.0000,22:58,"#Reliance #Jio beats Idea, Airtel with almost ...",_RickyBindra
23599,0,Reliance,4/4/2017,0.0000,23:13,RT @kswap14: How to port airtel sim into relia...,isaidn3cqpar
23600,0,Reliance,4/4/2017,0.4336,23:13,Reliance Jio Will Start Charging Users From Ap...,YourSpot16
23601,0,Reliance,4/4/2017,-0.2263,23:21,SAS Executive Job at Reliance Jio Infocomm Lim...,lautanjobs
23602,0,Reliance,4/4/2017,0.2263,23:21,Mukesh Ambani's Reliance Jio foray makes Rs 26...,mvnoblog
23603,0,Reliance,4/4/2017,0.7269,23:30,Home Technology Reliance Jio Prime Summer Surp...,4Gupdate
23604,0,Reliance,4/4/2017,0.0000,23:33,How to Check Your Jio Balance https://t.co/JUi...,Pradipsarkar291
23605,0,Reliance,4/4/2017,0.2732,23:36,"New post (Moto G5 India Launch, Reliance Jio S...",newsatspeed
23606,0,Reliance,4/4/2017,-0.3182,23:37,"Reliance Jio set to launch DTH services, set-t...",Ashokdhull1978
23607,0,Reliance,4/4/2017,0.0000,23:39,Reliance Jio beats rivals with almost double 4...,Ashokdhull1978
23608,0,Reliance,4/4/2017,0.0000,23:44,Reliance Jio 4G Download Speed Fastest in Indi...,younews_in
23609,0,Reliance,4/4/2017,0.2732,23:46,"Moto G5 India Launch, Reliance Jio Summer Surp...",PerfectedHacks
23610,0,Reliance,4/4/2017,0.6597,23:50,Thanks to Reliance Jio I am able to work.\r\nB...,dvkverma251
23611,0,Reliance,4/4/2017,-0.3182,23:58,"Reliance Jio set to launch DTH services, set-t...",Thakurprasadp
23612,0,NaN,NaN,0.0000,NaN,NaN,NaN

In [20]:
#calculating average
for k,v in od.items():    
    print(k,v)
    open_score[k] = open_score[k]/v
    if od_close[k] != 0:
        close_score[k] = close_score[k]/od_close[k]
    #print(k,open_score[k])
    #print(k,close_score[k])
#print(len(score))
#print(score)

##df=pd.DataFrame(open_score,close_score)
##df=df.transpose()
result = pd.DataFrame()
c = 0
for k,v in od.items():
    temp=pd.DataFrame({'open_score':[open_score[k]],'close_score':[close_score[k]],'date':[k]}) #'index':[c],
    #c += 1
    result = pd.concat([result,temp])

result = result.reset_index('date')
result

3/31/2017 639
3/25/2017 2393
4/3/2017 775
3/24/2017 370
4/4/2017 1291
3/29/2017 600
3/27/2017 556
3/15/2017 612
3/14/2017 421
3/30/2017 545
3/16/2017 405
3/23/2017 383
4/2/2017 427
3/22/2017 833
3/18/2017 238
4/1/2017 2422
3/26/2017 454
3/21/2017 -347
3/17/2017 328
3/28/2017 305
3/11/2017 108
3/13/2017 202
3/20/2017 301
3/19/2017 242
3/12/2017 152
nan 15

    index  close_score       date  open_score
0       0     0.238221  3/31/2017    0.083199
1       0    -0.187958  3/25/2017   -0.290354
2       0     0.161634   4/3/2017    0.145826
3       0     0.100738  3/24/2017    0.182295
4       0     0.151930   4/4/2017    0.078647
5       0    -0.128781  3/29/2017    0.012090
6       0     0.016734  3/27/2017    0.050603
7       0     0.088489  3/15/2017    0.068961
8       0     0.093629  3/14/2017    0.033530
9       0    -0.010742  3/30/2017    0.057142
10      0     0.209550  3/16/2017    0.142470
11      0     0.127135  3/23/2017    0.206135
12      0     0.187328   4/2/2017    0.161835
13      0     0.057127  3/22/2017         NaN
14      0     0.191772  3/18/2017    0.125527
15      0     0.208968   4/1/2017         NaN
16      0    -0.078752  3/26/2017   -0.157434
17      0     0.191236  3/21/2017   -0.000000
18      0     0.086929  3/17/2017    0.103239
19      0     0.120645  3/28/2017    0.184120
20      0     0.123130  3/11/2017    0.136454
21      0     0.127274  3/13/2017    0.022239
22      0     0.000000  3/20/2017    0.000000
23      0     0.158685  3/19/2017    0.119991
24      0     0.087479  3/12/2017    0.095979
25      0          NaN        NaN         NaN

In [97]:
result.to_csv('Reliance_score.csv',sep=',',encoding='utf-8')
result.to_json('Reliance_score.json')

In [21]:
df2 = pd.read_csv("NSE-RELIANCE.csv")
df1 = pd.read_csv("Reliance_score.csv")

In [22]:
id_df1 = set(df1['date'].tolist())
id_df2 = set(df2['Date'].tolist())

In [23]:
ids = id_df1.intersection(id_df2)
cp_ids = copy.deepcopy(ids)

In [24]:
df3 = pd.DataFrame()
c = 0

In [25]:
for i1,r1 in df1.iterrows():
    if r1.date in ids:
        temp=pd.DataFrame({'date':[r1.date],'open_score':[r1.open_score],'close_score':[r1.close_score]})
        df3=pd.concat([df3,temp])
        c=c+1
        ids.remove(r1.date)

df4=pd.DataFrame()
c=0
for i1,r1 in df2.iterrows():
    #print(r1)
    temp=pd.DataFrame({'Date':[r1.Date],'Open':[r1.Open],'Close':[r1.Close], 'High':[r1.High], 'Low':[r1.Low]})
    df4=pd.concat([df4,temp])
    c=c+1

In [27]:
df3.set_index('date')
df4.set_index('Date')

             Close     High      Low     Open
Date
3/14/2017  1289.50  1319.00  1285.25  1318.75
3/15/2017  1304.95  1316.30  1290.40  1291.05
3/16/2017  1297.65  1310.40  1293.60  1310.00
3/17/2017  1300.70  1319.95  1298.05  1308.00
3/20/2017  1280.80  1306.25  1278.35  1306.00
3/21/2017  1263.80  1283.90  1259.30  1282.20
3/22/2017  1259.70  1265.90  1246.55  1252.00
3/23/2017  1273.30  1277.55  1258.00  1263.15
3/24/2017  1286.75  1292.00  1268.45  1274.10
3/27/2017  1251.10  1278.75  1247.20  1271.10
3/28/2017  1245.75  1264.00  1242.10  1258.00
3/29/2017  1256.65  1260.00  1233.35  1251.70
3/30/2017  1270.65  1274.75  1253.00  1255.00
3/31/2017  1320.90  1337.65  1266.00  1266.00
4/3/2017   1374.65  1380.50  1337.05  1342.00

In [28]:
df3

   close_score       date  open_score
0     0.000000  3/31/2017    0.000000
0     0.000000   4/3/2017    0.000000
0     0.000000  3/24/2017    0.000000
0     0.000000  3/29/2017    0.000000
0     0.000000  3/27/2017    0.000000
0     0.128384  3/15/2017    0.336555
0     0.000000  3/30/2017    0.000000
0     0.093629  3/14/2017   -0.048080
0     0.000000  3/16/2017    0.000000
0     0.000000  3/23/2017    0.000000
0     0.000000  3/22/2017    0.000000
0     0.000000  3/21/2017   -0.000000
0     0.000000  3/17/2017    0.000000
0     0.000000  3/28/2017    0.000000
0     0.000000  3/20/2017    0.000000

In [111]:
result = pd.DataFrame()

In [112]:
result = pd.concat([df3,df4], axis=1, join='inner')

In [113]:
result = result.reset_index('date')

In [114]:
result

,index,close_score,date,open_score,Close,Date,High,Low,Open
0,0,0.000000,3/31/2017,0.000000,1289.50,3/14/2017,1319.00,1285.25,1318.75
1,0,0.000000,4/3/2017,0.000000,1304.95,3/15/2017,1316.30,1290.40,1291.05
2,0,0.000000,3/24/2017,0.000000,1297.65,3/16/2017,1310.40,1293.60,1310.00
3,0,0.000000,3/29/2017,0.000000,1300.70,3/17/2017,1319.95,1298.05,1308.00
4,0,0.000000,3/27/2017,0.000000,1280.80,3/20/2017,1306.25,1278.35,1306.00
5,0,0.128384,3/15/2017,0.336555,1263.80,3/21/2017,1283.90,1259.30,1282.20
6,0,0.000000,3/30/2017,0.000000,1259.70,3/22/2017,1265.90,1246.55,1252.00
7,0,0.093629,3/14/2017,-0.048080,1273.30,3/23/2017,1277.55,1258.00,1263.15
8,0,0.000000,3/16/2017,0.000000,1286.75,3/24/2017,1292.00,1268.45,1274.10
9,0,0.000000,3/23/2017,0.000000,1251.10,3/27/2017,1278.75,1247.20,1271.10
10,0,0.000000,3/22/2017,0.000000,1245.75,3/28/2017,1264.00,1242.10,1258.00
11,0,0.000000,3/21/2017,-0.000000,1256.65,3/29/2017,1260.00,1233.35,1251.70
12,0,0.000000,3/17/2017,0.000000,1270.65,3/30/2017,1274.75,1253.00,1255.00
13,0,0.000000,3/28/2017,0.000000,1320.90,3/31/2017,1337.65,1266.00,1266.00
14,0,0.000000,3/20/2017,0.000000,1374.65,4/3/2017,1380.50,1337.05,1342.00

In [115]:
result.to_csv('merged_with_NSE_data.csv', sep=',', encoding='utf-8')
result.to_json('merged_with_NSE_data.json')

In [116]:
#finding correlation
print("Open price correlation:", result['Open'].corr(result['open_score']))
print("Close price correlation:", result['Close'].corr(result['close_score']))

Open price correlation: 0.0174866381811
Close price correlation: -0.211134478633

In [117]:
import pandas as pd
import numpy as np
import copy
from sklearn import preprocessing, cross_validation
from sklearn.linear_model import LinearRegression

F:\Anaconda3\envs\tensorflow-gpu\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [118]:
result = pd.read_csv('merged_with_NSE_data.csv')

In [119]:
df = copy.deepcopy(result)

In [120]:
df = df[['Open',  'High',  'Low',  'Close', 'open_score', 'close_score']]
forecast_col = ['Open', 'High', 'Low', 'Close']
df.fillna(value=-9999, inplace=True)

In [121]:
forecast_out = 1

In [124]:
df['ForecastOpen'] = df[forecast_col[0]].shift(-forecast_out)

df['ForecastClose'] = df[forecast_col[3]].shift(-forecast_out)

In [125]:
data=copy.deepcopy(df)

In [ ]:
# traditional open price
X = np.array(df.drop(['ForecastOpen', 'ForecastClose','open_score','close_score'],1))
X = X[:-forecast_out]
df.dropna(inplace=True)

y = np.array(df[['ForecastOpen']])
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
print("Traditional Method Accuracy for Open Price: ", confidence * 100.0)

In [129]:
# sentimental open price
df=copy.deepcopy(data)
X = np.array(df[['open_score']])
X = X[:-forecast_out]
df.dropna(inplace=True)

y = np.array(df[['ForecastOpen']])
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)*1
print("Sentimental Method Accuracy for Open Price: ", confidence * 100.0)

In [132]:
# hybrid open price
df=copy.deepcopy(data)
X = np.array(df.drop(['ForecastOpen', 'ForecastClose'], 1))
X = X[:-forecast_out]
df.dropna(inplace=True)

y = np.array(df[['ForecastOpen']])
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
print("Hybrid Method Accuracy for Open Price: ", confidence * 100.0)

In [135]:
#traditional close price
df=copy.deepcopy(data)
X = np.array(df.drop(['ForecastOpen', 'ForecastClose','open_score','close_score'], 1))
X = X[:-forecast_out]
df.dropna(inplace=True)

y = np.array(df[['ForecastClose']])
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
print("Traditional Method Accuracy for Close Price: ", confidence * 100.0)

Traditional Method Accuracy for Close Price:  -361.042517838

In [136]:
# sentimental close price
df=copy.deepcopy(data)
X = np.array(df[['close_score']])
X = X[:-forecast_out]
df.dropna(inplace=True)

y = np.array(df[['ForecastClose']])
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)*1
print("Sentimental Method Accuracy for Close Price: ", confidence * 100.0)

Sentimental Method Accuracy for Close Price:  -814.078316862

In [137]:
#hybrid close price
df=copy.deepcopy(data)
X = np.array(df.drop(['ForecastOpen', 'ForecastClose'], 1))
X = X[:-forecast_out]
df.dropna(inplace=True)

y = np.array(df[['ForecastClose']])
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
print ('Hybrid Method Accuracy for Close price: ', confidence*100)

Hybrid Method Accuracy for Close price:  65.4504720378